extends layout

block content
    div
        .title Create A User

    div
        .Menu    
            form(action="/createUser" method="post")
                p Username:
                    input(type='text' name="username")
                p Password:
                    input(type='text' name="password" )
                    br
                    br
                    input(id="submit" type="submit" value="Submit") 

    form(action="/" method="get")
        input(class="button" type="submit" value="Back") 
    