extend layout

block content
    form(action=`/edit/${person._id}` method="POST")
    label(for='name') Username: 
        input(type="text", name="username" value=person.username)
        br
        label(for="password") Password: 
        input(type="text", name="password") 
        br
        input(type="submit" value="Update Person")