extend layout

block content
    div
        .Menu
            form(id='form' action=`/editUser/${person._id}` method="POST")
                p Username:
                    input(type="text" name="username" value=person.username)
                p Password:
                    input(type="text" name="password")
                p
                    input(type="submit" value="Update Person")

        form(action="/logout" method='POST')
                p   
                    input(type="submit" value="Logout")