doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(href='style.css' rel='stylesheet')
#board
    #dealer.playingField1
        div(class="dealerName")
            p Dealer
            #dealerCards.cardArea
                div(class="card" id="dealerDisplayCards")
    #player0.playingField2
        div(class="playerName")
            p #{person.username}
            #player0Cards.cardArea
                div(class="card inside" id="player0DisplayCardsOne")
                div(class="card inside" id="player0DisplayCardsTwo")
                div(class="card inside" id="player0DisplayCardsThree")
                div(class="card inside" id="player0DisplayCardsFour")
                div(class="card inside" id="player0DisplayCardsFive")
.gameMenu
    .button(id="deal")  Deal Cards 
    .button(id="hit")  HIT!
    .button(id="play")  Play Cards
    form(action=`/home/${person._id}` method='GET')
        input(class="button" type="submit" value="Exit")

script(type="text/javascript" src="cards.js")