extends layout

block content
    h1 home

    form(action=`/edit/${person._id}` method="POST")
        p Edit Account?
            input(type="submit" value="Edit") 
        

    form(action="/logout" method='POST')
            p   
                input(type="submit" value="Logout")