extends layout

block content
    div 
        .Menu
            .button  Play 
            .button  Edit Profile
            .button  Logout
    div
        .title  BlackJack

    form(action=`/edit/${person._id}` method="POST")
        p Edit Account?
            input(type="submit" value="Edit") 
        

    form(action="/logout" method='POST')
            p   
                input(type="submit" value="Logout")