extends layout

block content
    div 
        .Menu
            form(action="/game" method="POST")
                input(class="button" type="submit" value="Play") 

            form(action=`/edit/${person._id}` method="POST")
                input(class="button" type="submit" value="Edit") 

            form(action="/logout" method='POST')
                input(class="button" type="submit" value="Logout") 
    div
        .title  BlackJack