extends layout

block content
    div
        .Menu
            form(method='POST' action='/')
                p Username:
                    input(type="text" name='username')
                p Password:
                    input(type="password" name='password')
                p 
                    input(type='submit' value="Log in")
    div
        .MenuTwo 
            form(action="/create" method='POST')
            p Need an Account? 
                input(type="submit" value="Create")

