extends layout

block content
    form(method='POST' action='/')
            p Username:
                br
                input(type="text" name='username')
            p Password:
                br
                input(type="password" name='password')
            p 
                input(type='submit' value="Log in")
    
    form(action="/create" method='POST')
            p   New?
                br
                br
                input(type="submit" value="Create")
