doctype html
head
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
link(rel='stylesheet' type='text/css' href='/style.css')
script(src='js/nav2.js')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Document
#fixed-header
#content(style='top:10vw;height:75vw')
#margin-box(style='height:60vw')
    h1(style="text-align:center; margin-top:2.5vw") Login
    #addForm(style='position:relative;top:2vw;left:18vw; overflow-y: hidden;') 
    img#logo(src='https://th.bing.com/th/id/R.b8a297af7bc9f50434b64ac1241012f4?rik=1zp6m%2brTeRMSaw&riu=http%3a%2f%2fstatic1.squarespace.com%2fstatic%2f59834fee6f4ca39f8397a21e%2ft%2f59b95550b1ffb69891e9ab5d%2f1505318229028%2fThe%2bHub-01.png%3fformat%3d1500w&ehk=X3H6fLY4E6%2bQeMtExFWNKo5PBSer99ci4FRt8r%2f4Dg4%3d&risl=&pid=ImgRaw&r=0')
    form(action="/login" method="post")
        h1 Username:
        input#username(type='text' name='username')
        h1 Password:
        input#password(type='password' name='password')
        <br>
        <br>
        input(id="submit" type="submit" value="Login")
        a(href='/createUser' style='text-decoration: none; ')
            #submit(style='text-decoration: none; left:26.5vw; top:-2.5vw;height:2vw!important;') Create User
            
