html{
    background-color: #F72C25;
}

#board {
    border: 5px solid #040F16;
    background-color: #034710;
    width: 1485px;
    height: 750px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
    transform-origin: center center 0px;
    transition: all .5s ease-out;

}

.Menu {
    background-color: #FBFBFF;
    border: 5px solid #EDB458;
border-radius: 10px;
width: 1000px;
padding: 5px;
margin: 5px;
display: flex;
flex-direction: row;
position: absolute;
top: 35%;
bottom: 35%;
left: -5%;
justify-content: flex-end;
font-size: 25px;
}

.MenuTwo {
    background-color: #FBFBFF;
    border: 5px solid #EDB458;
border-radius: 10px;
width: 1000px;
padding: 5px;
margin: 5px;
display: flex;
flex-direction: column;
position: absolute;
right: -5%;
justify-content: flex-end;
font-size: 25px;
}

.button {
background-color: #040F16;
color: #FBFBFF;
border: 5px solid #EDB458;
border-radius: 10px;
width: 103px;
padding: 10px;
margin: 20px;
text-align: center;
cursor: pointer;
user-select: none;
font-size: 25px;
height: 125px;
animation: unset;


cursor: pointer;
box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
transform-origin: center center 0px;
transition: all .5s ease-out;
animation-name: animate;
animation-duration: 3s;
animation-iteration-count: infinite;
transform: perspective(75deg); 
transform: rotateX(35deg);
transform: rotateY(4deg);
transform: rotateZ(-30deg);
z-index: 1;
}
@keyframes animate {
    0% { margin-top: 5vh}

    50% { margin-top: 2vh}

    100% {margin-top: 5vh}

}

.button:hover
{
    animation: unset;
    margin-top: 0vh;
    transform: perspective(750px);
    rotate: X(0deg);
    rotate: Y(0deg);
    rotate: z(0deg);
    background-color: #F72C25;
    color:#EDB458;
    border-color: #040F16
}

.title {
    background-color: #FBFBFF;
    border: 5px solid #EDB458;
border-radius: 10px;
width: 1000px;
padding: 5px;
margin: 5px;
text-align: left;

user-select: none;

position: absolute;
top: 5%;
left: 35%;

font-size: 90px;
overflow: hidden;
}

.inputName {
    background-color: #FBFBFF;
    border: 5px solid #EDB458;
border-radius: 10px;
width: 600px;
padding: 5px;
margin: 5px;
text-align: center;

user-select: none;

position: absolute;

left: 25%;

}

.card{
    width:40px;
    height:60px;
    background-color: #F72C25;
    color:#EDB458;
    border-color: #040F16;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
    cursor:pointer;
}

span.number, span.suit{
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}

.gameMenu {

    border-radius: 10px;
    width: 1000px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 35%;
    right: 33%;
    bottom: 15%;
    justify-content: flex-end;
    font-size: 25px;
    margin-top: 225px;
    
    
    }

    .playingField2 {
        margin-top: 10px;
        width: 525px;
        height: 200px;
        border: 5px solid #040F16;
        background-color: #036816;
        border-radius: 10px;
        position: center;
        margin-left: 450px;
    }
    .playingField1 {
        margin-top: 10px;
        width: 525px;
        height: 200px;
        border: 5px solid #040F16;
        background-color: #036816;
        border-radius: 10px;
        position: center;
        margin-left: 450px;
    
    }